/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.svgg {
  z-index: -1;
}


.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  right: calc(1%);
  background-color: #2271ef;
}


.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  left: calc(1%);
  background-color: #2271ef;
}

.react-multiple-carousel__arrow:hover.react-multiple-carousel__arrow--right {
  background-color: #429cff; /* Lighter blue on hover */
}

.react-multiple-carousel__arrow:hover.react-multiple-carousel__arrow--left {
  background-color: #429cff; /* Lighter blue on hover */
}

input {
  border: 1px solid #2271ef5b;
}

.form-control {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 0.5rem;
}

/* Custom CSS for Ant Design Modal's Ok button */
.ant-modal-footer .ant-btn-primary {
  background-color: #2271ef; /* Your desired background color */
}

textarea {
  border: 1px solid #2271ef5b;
}

select {
  border: 1px solid #2271ef5b;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  border-color: #2271ef; /* Border color when checked */
  background-color: #2271ef; /* Background color when checked */
}

input[type="checkbox"]:focus {
  outline: none;
  box-shadow: 0 0 2px 1px rgba(34, 113, 239, 0.5); /* Optional: add a focus effect */
}

/* :where(.css-dev-only-do-not-override-1c0na6j).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #2271ef; 
  border: none;
} */

/* Ensure scrollbar remains visible when modal is opened */
body.ant-scrolling-effect {
  overflow: visible !important;
  padding-right: 0 !important;
}
