/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.svgg {
  z-index: -1;
}


.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  right: calc(1%);
  background-color: #2271ef;
}


.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  left: calc(1%);
  background-color: #2271ef;
}

.react-multiple-carousel__arrow:hover.react-multiple-carousel__arrow--right {
  background-color: #429cff; /* Lighter blue on hover */
}

.react-multiple-carousel__arrow:hover.react-multiple-carousel__arrow--left {
  background-color: #429cff; /* Lighter blue on hover */
}

input {
  border: 2px solid #429dff44;
}

.form-control {
  display: flex;
  flex-direction: column;
}